@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

.body {
  min-height: 100vh;
  min-width: 100vw;
  background: hsl(218, 22%, 67%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing {
  margin: 40px 0px 40px 0px;
  width: 50%;
  background: hsl(204, 43%, 93%);
  box-shadow:  0.5px 0px 1px hsl(204, 43%, 93%);
}

.top {
  padding: 35px;
}

.top h2 {
  color: hsl(179, 62%, 43%);
  margin-bottom: 10px;
  font-weight: 700;
}

.top h4 {
  color: hsl(71, 73%, 54%);
  margin-bottom: 10px;
  font-weight: 700;
}

.top p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  background: hsl(179, 62%, 43%);
  color: hsl(204, 43%, 93%);
  padding: 35px;
}

.left h3, .right h3 {
  margin-bottom: 10px;
}

span {
  font-size: 35px;
  font-weight: 700;
}

.left p:first-of-type {
  padding: 15px 0 15px 0;
  font-size: 16px;
}

.left p:last-of-type {
  font-size: 16px;
  margin-bottom: 20px;
}

.left button {
  display: block;
  width: 100%;
  background: hsl(71, 73%, 54%);
  color: hsl(204, 43%, 93%);
  border: 0;
  font-size: 16px;
  padding: 10px;
  box-shadow: 0.5px 0px 3px hsl(204, 43%, 93%);
}

.right {
  background: hsl(179, 62%, 43%);
  color: hsl(204, 43%, 93%);
  opacity: 0.9;
  padding: 35px;
}

ul {
  list-style-type: none;
}

li {
  line-height: 1.5;
}

@media all and (max-width: 600px) {
  .pricing {
    width: 80%;
  }
  .bottom {
    grid-template-columns: 1fr;
  }
}
